#main {
	padding: 0px;
}

.tweet {
	padding: 10px;
}

.tweet .profile_image {
	float: left;
	margin-right: 5px;
}

.tweet .name {
	font-weight: bold;
}

.tweet .screen_name {
	color: gray;
	padding-left: 3px;
}

.tweet .age {
	float: right;
	padding-right: 5px;
	font-size: 9pt;
	color: gray;
}

.tweet .user_info {
	display: none;
	font-size: 11pt;
}

.tweet .user_info .location {
	color: gray;
}

.tweet .text {
	font-size: 11pt;
}

/* stack all grids below 48em (768px) -- might have to change */
@media all and (max-width: 48em) {
	#items .ui-block-a, 
	#items .ui-block-b {
    	float: none;
   	 	width: 100%;
	}
}